## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import gmaps
import requests


# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_Database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Weather Description
0,0,Rio Grande,BR,-32.0350,-52.0986,64.51,96,88,11.72,overcast clouds
1,1,Saldanha,ZA,-33.0117,17.9442,55.45,80,100,9.08,overcast clouds
2,2,Solnechnyy,RU,50.7214,136.6319,61.95,97,79,2.66,broken clouds
3,3,Arraial Do Cabo,BR,-22.9661,-42.0278,80.56,69,0,21.85,clear sky
4,4,Cherskiy,RU,68.7500,161.3000,52.07,44,100,2.66,overcast clouds

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 65
What is the maximum temperature you would like for your trip? 90

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Weather Description
3,3,Arraial Do Cabo,BR,-22.9661,-42.0278,80.56,69,0,21.85,clear sky
6,6,Hithadhoo,MV,-0.6000,73.0833,83.39,75,100,16.17,overcast clouds
7,7,Rikitea,PF,-23.1203,-134.9692,68.14,76,100,5.30,light rain
10,10,Pathein,MM,16.7833,94.7333,77.67,93,100,2.30,overcast clouds
11,11,Morwa,IN,22.9000,73.8333,78.37,92,100,11.52,light rain
12,12,Lusambo,CD,-4.9667,23.4500,80.11,40,77,0.89,broken clouds
13,13,Jamestown,US,42.0970,-79.2353,80.06,39,100,8.05,overcast clouds
16,16,Hailey,US,43.5196,-114.3153,86.88,42,75,11.50,broken clouds
17,17,Eydhafushi,MV,5.1033,73.0708,82.99,77,86,9.89,overcast clouds
18,18,Kushima,JP,31.4583,131.2333,75.83,93,64,4.83,moderate rain

In [5]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.isnull().sum()

City_ID                0
City                   0
Country                3
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Weather Description    0
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df=preferred_cities_df.dropna()
clean_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Weather Description
3,3,Arraial Do Cabo,BR,-22.9661,-42.0278,80.56,69,0,21.85,clear sky
6,6,Hithadhoo,MV,-0.6000,73.0833,83.39,75,100,16.17,overcast clouds
7,7,Rikitea,PF,-23.1203,-134.9692,68.14,76,100,5.30,light rain
10,10,Pathein,MM,16.7833,94.7333,77.67,93,100,2.30,overcast clouds
11,11,Morwa,IN,22.9000,73.8333,78.37,92,100,11.52,light rain
...,...,...,...,...,...,...,...,...,...,...
679,679,Abramovka,RU,51.1886,41.0202,65.91,66,3,8.08,clear sky
681,681,Benghazi,LY,32.1167,20.0667,78.15,66,0,12.35,clear sky
682,682,Kijang,KR,35.2442,129.2139,76.73,74,0,3.98,clear sky
686,686,Callaway,US,30.1530,-85.5699,84.94,70,75,9.22,broken clouds
687,687,Santa Maria,BR,-29.6842,-53.8069,65.50,94,75,8.05,broken clouds

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Weather Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Weather Description,Lat,Lng,Hotel Name
3,Arraial Do Cabo,BR,80.56,clear sky,-22.9661,-42.0278,
6,Hithadhoo,MV,83.39,overcast clouds,-0.6000,73.0833,
7,Rikitea,PF,68.14,light rain,-23.1203,-134.9692,
10,Pathein,MM,77.67,overcast clouds,16.7833,94.7333,
11,Morwa,IN,78.37,light rain,22.9000,73.8333,
12,Lusambo,CD,80.11,broken clouds,-4.9667,23.4500,
13,Jamestown,US,80.06,overcast clouds,42.0970,-79.2353,
16,Hailey,US,86.88,broken clouds,43.5196,-114.3153,
17,Eydhafushi,MV,82.99,overcast clouds,5.1033,73.0708,
18,Kushima,JP,75.83,moderate rain,31.4583,131.2333,

In [8]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found...skipping")

hotel_df.head(10)

Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping

,City,Country,Max Temp,Weather Description,Lat,Lng,Hotel Name
3,Arraial Do Cabo,BR,80.56,clear sky,-22.9661,-42.0278,Pousada Porto Praia
6,Hithadhoo,MV,83.39,overcast clouds,-0.6000,73.0833,Scoop Guest House
7,Rikitea,PF,68.14,light rain,-23.1203,-134.9692,People ThankYou
10,Pathein,MM,77.67,overcast clouds,16.7833,94.7333,Pathein Hotel
11,Morwa,IN,78.37,light rain,22.9000,73.8333,mahakali maa hotel
12,Lusambo,CD,80.11,broken clouds,-4.9667,23.4500,
13,Jamestown,US,80.06,overcast clouds,42.0970,-79.2353,Hampton Inn & Suites Jamestown
16,Hailey,US,86.88,broken clouds,43.5196,-114.3153,Wood River Inn & Suites
17,Eydhafushi,MV,82.99,overcast clouds,5.1033,73.0708,Soneva Fushi
18,Kushima,JP,75.83,moderate rain,31.4583,131.2333,Hanaoka

In [9]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df=hotel_df.dropna()

In [10]:
# 8a. Create the output File (CSV)
output_data_file="WeatherPy_Vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [16]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Weather Description}</dd> 
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [17]:
# 11a. Add a marker layer for each city to the map. 
marker_layer=gmaps.marker_layer(locations,info_box_content=hotel_info)

# 11b. Display the figure
fig=gmaps.figure(center=(30.0, 31.0), zoom_level=1.4)
fig.add_layer(marker_layer)
fig

Figure(layout=FigureLayout(height='420px'))